* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.6rem;
}

.main-container {
  min-height: 100vh;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-image: url("../../assets/appBackground.jpg");
  background-size: cover;
  background-position: center;
}

.wrapper {
  background: rgba(255, 255, 255, 0.141);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem; /* Adjust padding as needed */
}

.content-container {
  border: 1px solid green;
  padding: 4rem;
  width: 70vw;
  text-align: center;
}

.input-container {
  display: flex;
  margin-bottom: 4rem;
  border: 1px solid red;
  justify-content: center;
  gap: 2rem;
}

.input-field {
  background-color: transparent;
  border: 1px solid black;
}

.search-button {
  border: 2px solid yellow;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
}

.card {
  border: 1px solid black;
  padding: 3rem 2rem;
  border-radius: 1.5rem;
  display: grid;
  font-size: 1.5rem;
  font-weight: 500;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 3rem;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .card {
    border: 1px solid black;
    padding: 2rem 1rem;
    border-radius: 1.5rem;
    height: 15rem;
    width: 30rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
  }

  .input-container button,
  input {
    padding: 1rem;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 0.8rem;
  }

  .card {
    border: 1px solid black;
    padding: 9rem;
    border-radius: 1.5rem;
    margin: 0 auto;
  }

  .content-container {
    border: 1px solid green;
    width: 80vw;
    text-align: center;
  }

  .wrapper {
    padding: 1rem;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 0.5rem;
  }

  .card {
    height: 20rem;
    width: 40rem;
  }

  .wrapper {
    width: 90%;
  }

  .content-container {
    border: 1px solid green;
    width: 100%;
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  html {
    font-size: 0.5rem;
  }

  .card {
    height: 20rem;
    width: 40rem;
  }

  .wrapper {
    width: 90%;
  }

  .content-container {
    border: 1px solid green;
    width: 100%;
    text-align: center;
  }
}
